@model AccountingSubsystemIdentity.Models.Company.DeleteCompanyViewModel
@{
}

<h1 style="text-align:center">حذف شرکت</h1>
<form method="post" action="DeleteCompany" class="mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section>
                @* <form id="CompanyRegisteration" method="post">*@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*form-control,form-group///for learning purpose*@
                <div class="form-group">
                    <label asp-for="Id" class="form-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="form-label"></label>
                    <input asp-for="CompanyName" class="form-control" readonly />
                </div>

                <div class="form-group pt-1">
                    <label asp-for="CompanyCode" class="form-label"></label>
                    <input asp-for="CompanyCode" class="form-control" readonly />
                </div>

                <div class="form-group pt-1">
                    <label asp-for="EconomicCode" class="form-label"></label>
                    <input asp-for="EconomicCode" class="form-control" readonly />
                </div>
                <div class="form-group pt-1">
                    <label asp-for="CompanyAddress" class="form-label"></label>
                    <input asp-for="CompanyAddress" class="form-control" readonly />
                </div>
                <div class="form-group pt-1">
                    <label asp-for="CompanyPhoneNumber" class="form-label"></label>
                    <input asp-for="CompanyPhoneNumber" class="form-control" readonly />
                </div>
            </section>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row pt-3">
        <div class="col-4"></div>
        <div class="col-md-2">
            <a type="button" class="w-75 h-100 btn-lg btn-danger text-center fw-bold" href="@Url.Action("CRUDCompany","Companies")">بازگشت</a>
        </div>
        <div class="col-3">

            <button type="submit" class="w-50 btn-lg btn-primary" asp-controller="Companies" asp-action="DeleteCompany">ذخیره</button>
        </div>
        <div class="col-3"></div>
    </div>
</form>